body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 3rem;
  padding: 1rem;
  background-color: lightblue;
  /* transform: rotate(90deg); */
  /* transform: rotate(0.25turn); */
  /* transform: scale(1.5); */
  /* transform: skew(35deg); */
  /* transform: skew(35deg, 35deg); */
  /* transform: translateX(100px); */
  /* transform: translateY(-100px); */
  /* transform: translate(100px, 100px); */

  /* translate: 0 -100px; */
  /* scale: 1.5; */
  /* rotate: 90deg; */
}

.title:hover {
  /* scale: 1.5; */
  translate: 0 -10px;
}
