body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: #000;
  color: #fff;
  padding: 12px;
  border-radius: 8px;

  transition-property: all;
  transition-duration: 0.3s;
  /* transition-timing-function: ease; */
  /* transition-timing-function: ease-in; */
  /* transition-timing-function: ease-out; */
  /* transition-timing-function: ease-in-out; */
  transition-timing-function: linear;
  transition-delay: 0s;

  /* transition: transform 0.3s ease 0s; */
  /* transition: transform 0.3s; */
}

.btn:hover {
  transform: translateY(-5px);
  /* color: red;
  font-size: 20px; */
}
