body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background: red;
  color: white;
  font-size: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Breakpoint prefix	Minimum width	CSS
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... } */

@media (min-width: 768px) {
  .box {
    background: green;
  }
}

@media (min-width: 1024px) {
  .box {
    background: blue;
  }
}

@media (min-width: 1280px) {
  .box {
    background: yellow;
  }
}

@media (max-width: 768px) {
  .box {
    font-size: 25px;
  }
}
