@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
  max-width: 75.375rem;
  padding: 0 1rem;
  margin: 0 auto;
}
