body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes slide {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

.title {
  /* animation-name: slide;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal; */

  animation: bounce 1s ease-in-out 0s infinite normal;
}
